.header__square-pic {
    background: #2f80ed;
    width: 568px;
    height: 568px;
    top: 64px;
    right: 0;
    position: absolute;
    z-index: 0;
    animation: rotation 20s infinite linear;
   }