.footer__column-link {
    color: white;
    text-decoration: none;
    line-height:30px;
    font-size: 18px;
    font-weight: normal;
  }
  .footer__column-link:hover {
    opacity: .5;
    color: rgba(238, 78, 20, 0.856);
    transition: .5s ease-in-out;
  }