.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    right: -210px;
    width: 877px;
    height: 877px;
    animation: rotation 20s infinite linear;
  }